<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.machomefolder.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/music_box"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="@string/playlists"
            android:parentActivityName=".MainActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.machomefolder.musicalstructureapp.MainActivity" />
        </activity>

        <activity
            android:name=".ListOfSongsActivity"
            android:label="List of Songs"
            android:parentActivityName=".HomeActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.machomefolder.musicalstructureapp.HomeActivity" />
        </activity>

        <activity
            android:name=".NowPlayingActivity"
            android:label="@string/now_playing"
            android:parentActivityName=".ListOfSongsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.machomefolder.musicalstructureapp.ListOfSongsActivity" />
        </activity>

    </application>

</manifest>